@page
@model echarging.Pages.kwhdata.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Kwh</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Kwh.Date" class="control-label"></label>
                <input asp-for="Kwh.Date" class="form-control" />
                <span asp-validation-for="Kwh.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kwh.T13" class="control-label"></label>
                <input asp-for="Kwh.T13" class="form-control" />
                <span asp-validation-for="Kwh.T13" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kwh.T14" class="control-label"></label>
                <input asp-for="Kwh.T14" class="form-control" />
                <span asp-validation-for="Kwh.T14" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kwh.T15" class="control-label"></label>
                <input asp-for="Kwh.T15" class="form-control" />
                <span asp-validation-for="Kwh.T15" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kwh.T16" class="control-label"></label>
                <input asp-for="Kwh.T16" class="form-control" />
                <span asp-validation-for="Kwh.T16" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kwh.T17" class="control-label"></label>
                <input asp-for="Kwh.T17" class="form-control" />
                <span asp-validation-for="Kwh.T17" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kwh.T18" class="control-label"></label>
                <input asp-for="Kwh.T18" class="form-control" />
                <span asp-validation-for="Kwh.T18" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kwh.T19" class="control-label"></label>
                <input asp-for="Kwh.T19" class="form-control" />
                <span asp-validation-for="Kwh.T19" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kwh.T20" class="control-label"></label>
                <input asp-for="Kwh.T20" class="form-control" />
                <span asp-validation-for="Kwh.T20" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kwh.T21" class="control-label"></label>
                <input asp-for="Kwh.T21" class="form-control" />
                <span asp-validation-for="Kwh.T21" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kwh.T22" class="control-label"></label>
                <input asp-for="Kwh.T22" class="form-control" />
                <span asp-validation-for="Kwh.T22" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kwh.T23" class="control-label"></label>
                <input asp-for="Kwh.T23" class="form-control" />
                <span asp-validation-for="Kwh.T23" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kwh.T00" class="control-label"></label>
                <input asp-for="Kwh.T00" class="form-control" />
                <span asp-validation-for="Kwh.T00" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kwh.T01" class="control-label"></label>
                <input asp-for="Kwh.T01" class="form-control" />
                <span asp-validation-for="Kwh.T01" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kwh.T02" class="control-label"></label>
                <input asp-for="Kwh.T02" class="form-control" />
                <span asp-validation-for="Kwh.T02" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kwh.T03" class="control-label"></label>
                <input asp-for="Kwh.T03" class="form-control" />
                <span asp-validation-for="Kwh.T03" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kwh.T04" class="control-label"></label>
                <input asp-for="Kwh.T04" class="form-control" />
                <span asp-validation-for="Kwh.T04" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kwh.T05" class="control-label"></label>
                <input asp-for="Kwh.T05" class="form-control" />
                <span asp-validation-for="Kwh.T05" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kwh.T06" class="control-label"></label>
                <input asp-for="Kwh.T06" class="form-control" />
                <span asp-validation-for="Kwh.T06" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kwh.T07" class="control-label"></label>
                <input asp-for="Kwh.T07" class="form-control" />
                <span asp-validation-for="Kwh.T07" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kwh.T08" class="control-label"></label>
                <input asp-for="Kwh.T08" class="form-control" />
                <span asp-validation-for="Kwh.T08" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kwh.T09" class="control-label"></label>
                <input asp-for="Kwh.T09" class="form-control" />
                <span asp-validation-for="Kwh.T09" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kwh.T10" class="control-label"></label>
                <input asp-for="Kwh.T10" class="form-control" />
                <span asp-validation-for="Kwh.T10" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kwh.T11" class="control-label"></label>
                <input asp-for="Kwh.T11" class="form-control" />
                <span asp-validation-for="Kwh.T11" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kwh.T12" class="control-label"></label>
                <input asp-for="Kwh.T12" class="form-control" />
                <span asp-validation-for="Kwh.T12" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
