@page
@model IndexModel
@{ ViewData["Title"] = "Home page"; }
<head>
    <meta charset="UTF-8">
        
    </meta>
</head>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""/>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

<!-- vi kalder scriptet her. Det er placeret i wwwroot/js/location.js, for at asp.net kan finde ud af det.-->
<script src="js/location.js"></script> 
<style>

 #mapid { 
 width: 100vw; 
 height:  100vh;
 position: relative;
 }
 
 .formBlock {
 max-width: 300px;
 background-color: #fff;
 border: 1px solid #ddd;
 position: absolute;
 top: 10px;
 left: 10px;
 padding: 10px;
 z-index: 999;
 box-shadow: 0 1px 5px rgba(0,0,0,0.65);
 border-radius: 5px;
 width: 100%;
 }
 
 .input {
 padding: 10px;
 margin-bottom: 5px;
 width: 100%;
 border: 1px solid #ddd;
 font-size: 15px;
 border-radius: 3px;   
 }
 
 .leaflet-top .leaflet-control {
  margin-top: 175px;
 }
 
</style>


<div class="col-6">  
    <div class="formBlock">
        <form method="post" id="form">
            <input type="text" name="start" class="input" id="start" placeholder="Startposition"/>
            <input type="text" name="end" class="input" id="destination" placeholder="Destination"/>
            <button type="submit" class="btn btn-dark" asp-page-handler="Win">Find rute </button>
        </form>
    </div>
</div>




<div class="embed-responsive embed-responsive">

    <!-- div "kontrollerer" vores kort-->
    <div id="mapid"> </div>

    <!-- Dette script laver vores kort.-->
    <script>
    var mymap = L.map('mapid').setView([55.6760968, 12.5683371], 13);
                                    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                                        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                                    }).addTo(mymap);
                                    <!-- vi laver et layer, som er baseret på vores punkter i .js filen. chargers er variablen for alle punkterne -->
                                    L.geoJson(chargers, {
                                            style: function (feature) {
                                                return { color: feature.properties.color };
                                            },
                                            onEachFeature: function (feature, layer) {
                                                layer.bindPopup("<b>" + "Adresse: " + "</b>" + feature.properties.vejnavn + " " + feature.properties.husnr + "<br>" + "<b>" + "Udbyder: " + "</b>" 
                                                + feature.properties.operator + "<br>" + "<b>" + "Effekt: " + "</b>" + feature.properties.ladestandertype);
                                            }
                                    }).addTo(mymap);
     
                            </script>
    
    
</div>


