@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-2">
            <h1>Privatlivspolitik</h1>
        </div>
        <div class="col"></div>
    </div>
</div>

<div class="p-4">
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-8">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eget arcu dictum varius duis at consectetur lorem donec massa. Diam vulputate ut pharetra sit amet aliquam id diam maecenas. Praesent semper feugiat nibh sed pulvinar proin gravida hendrerit lectus. Consequat semper viverra nam libero justo. Pulvinar elementum integer enim neque. Tincidunt vitae semper quis lectus nulla at. Iaculis urna id volutpat lacus. Volutpat maecenas volutpat blandit aliquam etiam erat velit. Nulla porttitor massa id neque aliquam vestibulum morbi blandit cursus. Quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus urna. Et magnis dis parturient montes nascetur ridiculus mus. Facilisi morbi tempus iaculis urna id volutpat lacus. Ornare suspendisse sed nisi lacus. Senectus et netus et malesuada. Vitae congue mauris rhoncus aenean vel elit scelerisque mauris. Viverra adipiscing at in tellus integer feugiat scelerisque varius morbi.

                    Pharetra et ultrices neque ornare aenean euismod elementum nisi quis. In ante metus dictum at tempor. Vitae purus faucibus ornare suspendisse sed nisi lacus. Lorem dolor sed viverra ipsum. Integer vitae justo eget magna. Nisi vitae suscipit tellus mauris a diam. Varius morbi enim nunc faucibus a pellentesque sit amet porttitor. Sagittis aliquam malesuada bibendum arcu vitae elementum curabitur. Volutpat odio facilisis mauris sit amet massa. Viverra ipsum nunc aliquet bibendum enim facilisis gravida. Sodales neque sodales ut etiam. Malesuada nunc vel risus commodo. Commodo sed egestas egestas fringilla phasellus. Habitant morbi tristique senectus et netus. Dui vivamus arcu felis bibendum ut. Urna nec tincidunt praesent semper. Velit egestas dui id ornare arcu odio. Pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae.

                    Faucibus turpis in eu mi bibendum neque egestas. Lorem ipsum dolor sit amet consectetur adipiscing. Nibh mauris cursus mattis molestie a. Libero nunc consequat interdum varius sit. Duis convallis convallis tellus id interdum velit. Pellentesque habitant morbi tristique senectus et. Et sollicitudin ac orci phasellus. Massa eget egestas purus viverra accumsan in nisl nisi. Nisl suscipit adipiscing bibendum est ultricies integer quis. Interdum velit laoreet id donec.
                </p>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
</div>
